{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "tabWidth": 4,
  "printWidth": 150,
  "bracketSameLine": true,
  "singleAttributePerLine": false
}