header {
    height: 100px;
    display: flex;
    padding: 0 2rem;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background: #cccccc;
}

.logo {
    width: 150px;
    height: 90px;
    margin-right: 50px;
}